# Python
__pycache__/
*.py[cod]
*.egg-info/

# Envs
.env
venv/

# Data
data/
!data/.gitkeep
sample_data/

# Editor/OS
.DS_Store
.idea/
.vscode/

# Tests/Coverage/Caches
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Build artifacts
build/
dist/
