<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>Runs</title></head>
<body>
  <h1>Runs</h1>
  <table border="1" cellspacing="0" cellpadding="4">
    <tr><th>ID</th><th>Name</th><th>Status</th><th>Started</th><th>Finished</th></tr>
    {% for r in runs %}
    <tr>
      <td><a href="/runs/{{ r['id'] }}">#{{ r['id'] }}</a></td>
      <td>{{ r['plan_name'] }}</td>
      <td>{{ r['status'] }}</td>
      <td>{{ r['started_at'] }}</td>
      <td>{{ r['finished_at'] }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>

